@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Press Start 2P', sans-serif;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

li {
  list-style-type: inherit;
}